/*
 * Drupal fixes
 */
.print_r,
.traceback{
  font-family:monospace;   /* Lucida Console; */	
  font-size:x-small;
  white-space: nowrap;
}

.min100{
  min-width: 100%;
}

/*
 * jQuery fixes
 */ 
.ui-autocomplete,
#ui-datepicker-div{ z-index:99999!important; }

.hasDatepicker{
    text-align:center;
}

h1 .hasDatepicker{ 
    font-size:x-large; 
}

#fancybox-outer{
    background:#fff url("img/loading.gif") no-repeat 50% 50% !important;
}

.fancybox-prev, .fancybox-next {
   width: 60px ! important;  
}

.ui-accordion {
   padding-top:    1em!important;
   padding-bottom: 1em!important;
}

.h4-accordion {
  background-color:#fef5f1 ! important; 
  border-color:    #ed541d ! important;
}

h4.ui-state-default, 
h4.ui-widget-content .ui-state-default, 
h4.ui-widget-header  .ui-state-default 
{
  background: none ! important;
}

#mypear_ul_selector{
  position: relative;
  top: -1em;
  font-size: smaller;
}
#mypear_ul_selector ul{
  vertical-align: center;
}
#mypear_ul_selector li{
  float:left;
  list-style-type: none;
  margin: 0.3em ! important;
}

/*
 * myPear general styles 
 */
tbody { border-top: 0 None; }
 .gray      { color:gray; }
 .silver    { color:silver; }
 .darkgray  { color:black; }
  .mypear_a         {color:#036; text-decoration:none; font-family:'Verdana','Geneva','Arial','Helvetica',sans-serif; font-size: small; line-height: 1.4; }
 a.mypear_a         {color:#036; text-decoration:none; font-family:'Verdana','Geneva','Arial','Helvetica',sans-serif; font-size: small; line-height: 1.4; }
 a:visited.mypear_a {color:#036; text-decoration:none; font-family:'Verdana','Geneva','Arial','Helvetica',sans-serif; font-size: small; line-height: 1.4; }
 a:hover.mypear_a   {color:red;  text-decoration:none; font-family:'Verdana','Geneva','Arial','Helvetica',sans-serif; font-size: small; line-height: 1.4; }
 a.mypear_b         {color:#036; text-decoration:none; font-weight:bold; font-style:italic; }
 a:visited.mypear_b {color:#036; text-decoration:none; font-weight:bold; font-style:italic; }
 a:hover.mypear_b   {color:red;  text-decoration:none; font-weight:bold; font-style:italic; }

#mypear_selector{
  font-size: 1.2em;
  line-height: 1.0;
  letter-spacing: 0.05em;
}

#block-login .dev-info {
    border-color: #ed541d;
    border-style: solid;
    border-width: 1px;
    background-color: #fef5f1 ! important;
    font-style: italic;
    font-weight: bold;
    color:#8c2e0b;
    margin-left: 10px;
    margin-top: 0 !important;
    padding: 0.5em 0.5em 0.5em 0.75em;
}

.shadow-box {
  border: 1px solid #999;
  background-color: #eee;
  box-shadow:       0 4px 5px -2px #666, inset 0 10px 10px -10px #999;
-moz-box-shadow:    0 4px 5px -2px #666, inset 0 10px 10px -10px #999;
-webkit-box-shadow: 0 4px 5px -2px #666, inset 0 10px 10px -10px #999;
}



.height_auto { height:auto ! important; }

/*
.width0      { width: 1px ! important; padding: 0 ! important; }
*/
.width0      { width:2%; /*width:auto*/  padding-left: 1px ! important; padding-right: 1px ! important; white-space:nowrap ! important; }

.width100    { width: 100% ! important; min-width: 400px; max-width: 800px; }

.align_top   { vertical-align:top !important; }

.align_bottom{ vertical-align:bottom !important; }

.align_center{ text-align:center !important; }
.valign_center{ vertical-align:middle !important; }

.align_justify{text-align:justify !important; }

.align_right{
    text-align: right!important; 
    padding-right:5px;
    padding-left: 1px;
}

.align_left{
    text-align: left!important;
    padding-right:1px;
    padding-left: 5px;
}

.b_important_number{
    text-align:right;
    font-weight:bold; 
    color:#003366;
}

.opacity_on  { opacity:0.3; }
.opacity_off { opacity:0.7; }

div.centralized{
/*
    margin-left: auto;
    margin-right: auto;
    width: 75%;
*/
    text-align:center ! important;
}

.badges{
    border-style: solid!important;	
    border-color:#f00;
    background-color:#ffeeee;
    border-width:1px;
}

div.approved{
    background: url("../images/b-approved.gif") no-repeat scroll right top transparent;
}

div.archived{
    background: url("../images/b-archive.png") no-repeat scroll right top transparent;
}

.overstrike{
    text-decoration: line-through ! important;
}

/* Two columns page */
#mainContent {
    margin-right: 100px;
    width: 550px;
    float: left;
    margin-top: 1px;
    position: relative;
}

#sidebar {
    float: left;
    font-size: 12px;
    margin-top: 1px;
    width: 128px;
}

.select_separator{
   background-image:url(img/pixel-gul.png);
   background-repeat:repeat-x;
   background-position:50% 50%;
   background-attachment:scroll;
}

.login_error{ color:red; text-align:center; }

.aquaText   { color: aqua ! important; }
.blackText  { color: black ! important; }
.blueText   { color: blue ! important; }
.fuchsiaText{ color: fuchsia ! important; }
.greyText   { color: gray ! important; }
.greyText   { color: gray ! important; }
.greenText  { color: green ! important; }
.lgreenText { color: #7fba00 ! important; }
.dgreenText { color: #006400 ! important; }
.limeText   { color: lime ! important; }
.maroonText { color: maroon ! important; }
.navyText   { color: navy ! important; }
.oliveText  { color: olive ! important; }
.orangeText { color: #f85 ! important; }
.pinkText   { color: #f0f ! important; }
.purpleText { color: purple ! important; }
.redText    { color: red ! important; }
.silverText { color: silver ! important; }
.tealText   { color: teal ! important; }
.whiteText  { color: white ! important; }
.yellowText { color: yellow ! important; }
.boldText   { font-weight:bold ! important; }
.italicText { font-style:italic ! important; }
.smallerText{ font-size:75% ! important; }
.biggerText { font-size:120% ! important; }

.bg_grey     { background: none repeat scroll 0 0 #aaaaaa ! important; }
.bg_red      { background: none repeat scroll 0 0 #bb0000 ! important; }
.bg_green    { background: none repeat scroll 0 0 #00cc00 ! important; }
.bg_blue     { background: none repeat scroll 0 0 #0000bb ! important; }
.bg_transp   { background: transparent ! important; }

.font_size_small { font-size: small  ! important; }
.font_size_medium{ font-size: medium ! important; }
.font_size_large { font-size: large  ! important; }

.ea_btitle{
/*   color: #999;  */
}

.submit_green_button{
   font-size: small;
   font-weight: bold;
   padding: 1px;
   background: none repeat scroll 0 0 #00cc00;
}

.mdl_button{
   float: right;
/* background: none repeat scroll 0 0 #00BB00 ! important; */
   padding: 1px      ! important;
   color: white      ! important;
   font-weight: bold ! important;
   font-size: large  ! important;
   width: 200px;
}

.big_button{
   float: right;
/* background: none repeat scroll 0 0 #00BB00 ! important; */
   padding: 8px      ! important;
   color: white      ! important;
   font-weight: bold ! important;
   font-size: large  ! important;
   width: 350px;
   white-space: normal;
}


/* 
 * form class styles 
 */
.b_form       { color: #333;  vertical-align:top; }
.b_form_desc  { background: #ddd; text-align:right; padding-right:5px; padding-left:5px; }
.b_form_data  { background: #ddd; text-align:left;  padding-right:5px; padding-left:5px; font-style:italic;}
.b_form_space { background: #ddd; color:#f00; padding:0; }
.b_form_transp{ background: transparent; color:#f00}

/* 
 * auth class styles 
 */
div.login_prompt{
    width:333px;
}

table.login_prompt{
    padding: 10px;
    width:333px;
}

.login_prompt {
    padding: 10px; 
    background: rgb(221, 221, 221) none repeat scroll 0% 50%; 
    -moz-background-clip: initial; 
    -moz-background-origin: initial;
    -moz-background-inline-policy: initial; 
    -moz-border-radius-topleft:  15px; 
    -moz-border-radius-topright: 15px; 
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;  
}
.login_prompt input{  
    border-style: none;  
}

/*
 * maildb text color
 */
 .Zm_text       {color:#202020; text-decoration:none; font-size:small; }
a.Zm_text       {color:#202020; text-decoration:none; font-size:small; }
a:hover.Zm_text {color:#ff0000; text-decoration:none; font-size:small; }
/*
 * modal effect
 */
.black_overlay{
    display: none;
    position: fixed; /* absolute */
    top: 0%;
    left: 0%;
    width: 100%;
     height: 10000px;
     background-color: gray;
     z-index:1001;
     opacity:.80;
     filter: alpha(opacity=80);
     -moz-background-origin: padding;
     -moz-background-inline-policy: continuous;
     -moz-background-clip: border;
}

.lightbox  a{
    text-decoration:none;
}

.lightbox {
    display: none;
    position: absolute; /* fixed; absolute; */
    top: 10%;
    left: 15%;
    width: 65%;
    height: auto;
    padding: 24px;
    border: 2px solid #707070; /* darkgray */
    background-color: white;
    z-index:1002;
    overflow: auto;
}

#closeButton {
    position: absolute;
     left:0px;
     top: 0px;
     z-index:200;
}

/*
 *  tooltips
 */
#tt{
    position:absolute;
    display:block;    
    background:url(img/tt_left.gif) top left  no-repeat;
    z-index:200;
}

#ttbot{
    display:block;
    height:5px;
    margin-left:5px;
    background:url(img/tt_bottom.gif) top right no-repeat; 
    z-index:200;
}

#tttop{
    display:block;
    height:5px; 
    margin-left:5px;
    background:url(img/tt_top.gif)    top right no-repeat; 
    z-index:200;
}

#ttcont{
    display:block;
    padding:2px 12px 3px 7px; 
    margin-left:5px;
    background:#666;
    color:#FFF
}
/*
 *
 * b_table settings
 *
 */

#b_table_div1,
#b_table_div2,
#b_table_div3,
#b_table_div4,
#b_table_div5{
   overflow-x: auto;
}

tbody { border-top: 1px solid transparent; }

.b_pending{ 
  background-color:transparent; 
  text-align:right; 
  vertical-align:top; 
  width:auto;
}

tr, tr.odd, tr.even { background: none repeat scroll 0 0 transparent ! important; }
.b_table tr td:last-child    { border-right: 0 none ! important; }
  
.b_form        tr> td:first-child,
.c_table       tr> th:first-child,
.c_table       tr> td:first-child,
.b_table-zebra tr> td:first-child { background-color:transparent ! important; }

.b_table-zebra  { border-right: 0 none; border-bottom: 0 none; padding: 2px; }

.fancybox-inner .b_table-zebra{ width:780px; }

.b_table-zebra0 { background-color:#fff;        vertical-align:top; }

.b_table-zebra1 { background-color:#eee;        vertical-align:top; }

.b_table-zebra2 { background-color:#ddd;        vertical-align:top; }

.b_table-zebraT { background-color:transparent; vertical-align:top; }

tr.hightlighRollOver * { background: none    repeat scroll 0 0 #ccffcc ! important; }
tr.hightlighMarked   * { background: none no-repeat scroll 0 0 #ffcc99 ! important; }

.highlightRed      { background-color: #ffaaaa; vertical-align:top; border-top: 1px solid white ! important; }

.highlightYellow   { background-color: #ffffaa; vertical-align:top; border-top: 1px solid white ! important; }

.highlightRose     { background-color: #ffcc99; vertical-align:top; border-top: 1px solid white ! important; }

.highlightWhite    { background-color: transparent; vertical-align:top; /*border-top: 1px solid white ! important;*/ }

.highlightText{ background-color: #ffffaa ! important }

.highlightShadow{
   border-left:  1px solid #999 ! important;
   border-right: 1px solid #999 ! important;
   background-color:white ! important;
/*
   -moz-box-shadow:    inset 0 0 2px #000000;
   -webkit-box-shadow: inset 0 0 2px #000000;
   box-shadow:         inset 0 0 2px #000000;
*/
}

.c_table     { padding: 2px ! important; }
.c_table td  { padding: 2px ! important; }

tr.submits td { 
  background-color:transparent ! important;
  text-align: left             ! important;
  padding: 10px 0px            ! important;
}

table.b_form,
.b_form  { border-spacing: 1px 1px; border-collapse: separate; }
.b_table-zebra { border-spacing: 0px 0px; }

.b_wrap   { white-space: normal !important; } 
.b_nowrap { white-space: nowrap !important; } 
.b_transparent { background-color:transparent!important; }

.b_box,
.b_table {
    line-height: 1em;
    vertical-align: top; 
/*  border-collapse: collapse; */ 
/*  white-space: nowrap; */ 
}

.b_table {
    border-width: 0px; 
    width: auto;
}

.b_box {
    border-color: silver;
    border-style: solid;
    border-width: 1px; 
    width: 99%;
}

.b_box td,
.b_box th{
    padding: 10px;
}

.b_table table,
.b_table td,
.b_table th{
    vertical-align: top; 
    border-right:  0 none;
    border-bottom: 0 none;
    border:        0 none;
}

.b_table th{
    padding: 3px ! important;
}

.b_table,
.c_table,
.c_table a,
.b_table-zebra,
.b_table-zebra a{
    font-family:'Verdana','Geneva','Arial','Helvetica',sans-serif; 
    font-size: small;
    line-height: 1.4; 
    text-decoration: none; 
    color: #333333;
}

.c_table a:hover,
.b_table-zebra a:hover{
   color:red;
}

/* Photos table */
.photos table {
    width: 100% ! important;
}

.photos td {
    text-align: center;
    vertical-align: bottom;
    min-width: 132px;
}
