.page-load-progress-lock-screen {
  background-color: #fff;
  background-color: rgba(245,245,245,0.95);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999998;
}

.page-load-progress-lock-screen.hidden {
  display: none;
}

.page-load-progress-spinner {
/*
  background-image: url('../images/loader.gif');
*/
  background-image: url('loader.gif');
  background-repeat: no-repeat;
  height: 42px;
  left: 45%;
  position: absolute;
  top: 42%;
  width: 42px;
  z-index: 9999999;
}
