.page_load_progress_lock_screen {
  background-color: #fff;
  background-color: rgba(245,245,245,0.6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9998;
}

.page_load_progress_lock_screen.plp_hidden {
  display: none;
}

.page_load_progress_spinner {
  background-image: url('page_load_progress.gif');
  background-repeat: no-repeat;
  height: 128px;
  left: 45%;
  position: absolute;
  top: 42%;
  width: 128px;
  z-index: 9999;
}
